@keyframes ldio-ro3nezye53 {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
.ldio-ro3nezye53 div {
	position: absolute;

	width: 133.65px;
	height: 133.65px;
	border: 15.01px solid #dfdcdc;
	border-top-color: transparent;
	border-radius: 50%;
}
.ldio-ro3nezye53 div {
	animation: ldio-ro3nezye53 1.2195121951219512s linear infinite;
	top: 121.50000000000001px;
	left: 121.50000000000001px;
}
.loadingio-spinner-rolling-io30hrikhad {
	position: relative;
	left: 50%;
	width: 243px;
	height: 243px;
	margin: 0 auto;
	display: inline-block;
	overflow: hidden;
	background: transparent;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
}
.ldio-ro3nezye53 {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0;
}
.ldio-ro3nezye53 div {
	box-sizing: content-box;
}
